@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


.scard {
  padding-top: 72px;
  padding-bottom: 47px;
}

.scard__top {
}

.scard__heading-w {
  display: flex;
  margin-bottom: 11px;
}

.search-objects__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
}

.scard__top-actions {
  margin-left: auto;
}

.scard__top-action {
  display: inline-flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 32px;
  }
  &:hover {
    text-decoration: none;
  }
}

.scard__top-action-img-w {
  border: 1px solid rgb(208, 211, 220);
  box-shadow: rgba(42, 51, 66, 0.05) 0px 1px 2px;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-right: 10px;
}

.scard__top-action-txt {
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.scard__info {
  display: flex;
  margin-bottom: 47px;
  align-items: center;
}

.scard__info-item {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
  margin-right: 48px;
}

.search-objects__loc {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 48px;
}

.search-objects__loc-img {
  margin-right: 12px;
  flex: 0 0 auto;
}

.search-objects__loc-text {
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.scard-main {
  display: flex;  
  border: 1px solid rgb(232, 233, 237);
  box-shadow: rgba(85, 105, 135, 0.04) 0px 6px 10px -2px, rgba(85, 105, 135, 0.06) 0px 2px 4px -2px;
  border-radius: 15px;
  min-height: 576px;  
          box-sizing: content-box;
}

.slider-pro {
  height: 100%;
}

.sp-slides-container {
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  .sp-grab {
    
  }
}


.sp-slide {
  
}

.sp-thumbnails {
  display: flex;
}

.sp-bottom-thumbnails .sp-thumbnail-container, .sp-top-thumbnails .sp-thumbnail-container {
  margin: 0 5px;
  opacity: 0.5;  
  box-sizing: content-box;
  border: 1px solid transparent;
  &.sp-selected-thumbnail {
    opacity: 1;
    border: 1px solid #E3004C;
  }
}

.scard-main__left {    
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 992px;  
  flex: none;
}

.scard-main__tabs {
}

.scard-main__tabs-control {
  height: 34px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(85, 105, 135, 0.04) 0px 20px 24px -4px, rgba(85, 105, 135, 0.06) 0px 8px 8px -4px;
  border-radius: 6px 0px 0 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: rgb(84, 88, 99);
  cursor: pointer;
  &.active {
    background: rgb(255, 255, 255);
  }  
  &:first-child {
    padding-left: 22px;
    padding-right: 21px;
    text-align: right;
  }  
  &:nth-child(2) {
    border-radius: 0 6px 6px 0;
  }  
}

.scard-main__right {  
  flex: 1 1 auto;
  padding-right: 19px;
  margin-left: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.scard__right-inner {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.scard__excl {
  font-weight: 700;
  font-size: 14px;
  height: 26px;
  background: rgb(227, 0, 76);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.object-price__old {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-decoration-line: line-through;
  color: rgb(161, 169, 182);
}

.object-price__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(227, 0, 76);
  display: flex;
  align-items: center;
}

.scard__price {
margin-bottom: 48px;
.object-price__old {}
.object-price__price {}  
}


.scard-soptions {
  margin-bottom: 24px;
}

.soptions__item {
  display: inline-flex;
  align-items: center;
  margin-right: 32px;
}

.soptions__img-w {
  flex: 0 0 auto;
  margin-right: 5px;
}

.soptions__text {
  font-weight: 600;
  font-size: 14px;
  color: #545863;
}

.scard-tags {
  display: flex;
  flex-wrap: wrap;
}

.object-tags__item {
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(84, 88, 99);
  background: rgb(243, 244, 246);
  border-radius: 46px;
  padding-left: 12px;
  padding-right: 12px;
  height: 22px;
  margin-right: 8px;
  margin-bottom: 12px;
  display: inline-flex;
  &:hover {
    text-decoration: none;
  }
}

.scard__btn-w {
margin-top: auto;
  .btn, .btn-o {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}

.scard-accord {
  margin-top: 142px;
  max-width: 992px;
  width: 100%;

}

.scard-accord__item {  
  border: 1px solid rgb(232, 233, 237);
  border-radius: 6px;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.scard-accord__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: rgb(84, 88, 99);
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
  &.active-header {
    .scard-accord__control {
  background-image: url("../img/tabs-minus.svg");    
    }    
  }
}

.scard-accord__control {
  background-image: url("../img/tabs-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
}

.scard-accord__content {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 750px;
  width: 100%;  
}

.scard-accord__map {
  height: 320px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  width: 100%;
  margin-top: 7px;
}

.scard-accord p {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.scard-accord__tbl {
  margin-top: 8px;
}

.scard-accord__tbl-row {
  display: flex;  
  &:not(:last-child) {
   border-bottom: 1px solid rgb(232, 233, 237);
   padding-bottom: 24px;
   margin-bottom: 24px;
  }  
}

.scard-accord__tbl-col {
  width: 33.333%;
  padding-right: 10px;
}

.scard-accord__tbl p.scard-accord__tbl-p {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.scard-accord__tbl-b {
}

.scard-accord__content-100 {  
  width: 100%;
  max-width: 100%;
}



.similar {
}



.similar__row {
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  flex-wrap: wrap;
}

.similar__col {
  width: 33.3333%;
  padding-left: 16px;
  padding-right: 16px;
}

.similar__it {
  border: 1px solid rgb(232, 233, 237);
  box-shadow: rgba(85, 105, 135, 0.04) 0px 6px 10px -2px, rgba(85, 105, 135, 0.06) 0px 2px 4px -2px;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  &:hover {
    text-decoration: none;
  }
}

.similar__img-w {
  height: 240px;
  display: block;
  position: relative;
}

.similar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.similar__excl {
  background: rgb(227, 0, 76);
  border-radius: 15px 6px 6px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  padding-left: 24px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  &:empty {
    display: none;
  }
}

.similar__content {
  padding: 24px;
}

.similar__tit {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  margin-bottom: 12px;
}

.similar__loc {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 0px;
}

.similar__loc-img {
  margin-right: 12px;
  flex: 0 0 auto;
}

.similar__loc-text {
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.similar__soptions {
  margin-bottom: 12px;
}

.similar__soptions-item {
  display: inline-flex;
  align-items: center;
  margin-right: 32px;
}

.soptions__img-w {
  flex: 0 0 auto;
  margin-right: 5px;
}

.soptions__text {
  font-weight: 600;
  font-size: 14px;
  color: #545863;
}

.similar__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
}

.sp-fade-arrows {
  opacity: 1;
}

.sp-arrow {
  width: 48px;
  height: 48px;
  background: url("../img/sp-arrow.svg") $nr center;
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.sp-bottom-thumbnails .sp-thumbnail-container {
  width: 88px !important;
  height: 60px !important;
  border-radius: 6px;
  overflow: hidden;
}

.sp-bottom-thumbnails {
  position: absolute;
  left: 0;
  bottom: -90px;
}


.scard-main__tabs {
  .tabs__list {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 10;
  }
  .tabs__content-list {
    display: flex;    
    flex-direction: column;
    height: 576px;
    width: 992px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .tabs__content-list-item {
    display: block;
    opacity: 0;
    visibility: hidden;    
    order: 2;    
    &.active {
      opacity: 1;
      visibility: visible;      
      order: -1;
      transition: opacity 0.5s;
    }
  }
}

.signup {
  background: #F3F4F6;
  padding-top: 72px;
  padding-bottom: 70px;
}

.signup__form-w {
  background: #FFFFFF;
border: 1px solid #E8E9ED;
box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.06);
border-radius: 15px;
padding: 48px 48px 48px 48px;
}

.signup__form {
  display: flex;
  .form__messengers {
  width: 268px;    
            justify-content: center;
  }
}

.signup__col {
  width: 33.333%;
  &:not(:last-child) {    
  }
  .input-text {
    margin-bottom: 25px;
  }
}

.signup__col-1 {
  display: flex;
  padding-top: 72px;
          align-items: center;
          flex-direction: column;
          padding-right: 27px;
}

.signup__subtit {
  font-weight: 600;
font-size: 18px;
line-height: 1.55;
text-align: center;
margin-bottom: 24px;
color: #545863;

}

.signup__col-2 {
  width: 480px;
          flex: none;
          padding-right: 0;
}

.signup__tit {
  font-weight: 700;
font-size: 24px;
line-height: 1.35;
color: #545863;
  margin-bottom: 29px;
}

.signup__col-3 {
  padding-top: 34px;
}

.signup__label {}

.signup__col {
  .form__messenger {
    
  }
}

.signup__label {
  max-width: 320px;
}

.signup__btn {
  margin-top: 24px;
  padding: 0 51px;
}

.signup__person {
 display: flex; 
         align-items: center;
          flex-direction: column; 
}

.signup__person-img-w {
  width: 174px;
  width: 174px;
  overflow: hidden;
          border-radius: 50%;
          flex: none;
          margin-bottom: 10px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
}

.signup__person-name {
  font-weight: 600;
font-size: 18px;
line-height: 1.55;
text-align: center;
color: #545863;
}

.signup__person-pos {
  margin-top: 3px;
  font-weight: 400;
font-size: 14px;
line-height: 1.7px;
text-align: center;
color: #8A92A4;
}


@import "_after-styless";