@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


.search-objects {
  padding-top: 48px;
}

.search-objects__form {
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  box-shadow: 0px 20px 24px -4px rgba(85, 105, 135, 0.04), 0px 8px 8px -4px rgba(85, 105, 135, 0.06);
  border-radius: 8px;
  padding: 32px;
}

.search-objects__heading {
  margin-bottom: 4px;
}

.search-objects__row {
  display: flex;  
  flex-wrap: wrap;
}
.search-objects__col {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  &:not(:last-child) {
    margin-right: 8px;
  }
}




.body--catalog {

}

div.fancy-select {
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  color: #545863;
  div.trigger {
    background: none;  
    height: 44px;        
    width: 100%;  
    border: 1px solid #D0D3DC;
    box-shadow: 0px 1px 2px rgba(42, 51, 66, 0.05);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 28px 0 14px;
  }
  select:focus + div.trigger.open {

    border: 1px solid #D0D3DC;
    box-shadow: 0px 1px 2px rgba(42, 51, 66, 0.05);
  }
}

div.fancy-select ul.options.open {
  top: unset;
  background-color: #FFF;
  
}

div.fancy-select ul.options li.selected {
  background-color: #5897fb;
  color: #fff;
  &.hover {
    color: #FFF;
    background-color: #5897fb;
  }  
}

div.fancy-select ul.options li.hover {
  color: inherit;
  background-color: rgba(#5897fb, 0.8);
  color: #fff;
}

.input-text-wrap {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  div.fancy-select div.trigger {
    border: none;
    &.open {
      border: none;
    }
  }
  div.fancy-select select:focus + div.trigger.open {
    border: none;    
    box-shadow: none;
  }
  div.fancy-select ul.options {
    min-width: 50px;
  }
}


.search-objects__actions {
  margin-top: 32px;
  display: flex;  
  flex-wrap: wrap;
}

.search-objects__label {
  div {
    font-weight: 400;
    font-size: 14px;
    color: #545863;
  }
  margin-right: 48px;
}


.search-objects__radios {
  display: flex;
}

.search-objects__radio-label {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.radio__label {  
  display: flex;  
  align-items: center;
  input[type="radio"] {
    display: none;
    + span {
      border: 1.25px solid #D5DAE1;
      box-shadow: 0px 1.25px 2.5px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;            
      border-radius: 50%;
      flex: none;
      margin-right: 9px;
    }
    &:checked {
      + span {
        &:before {
          position: absolute;          
          display: block;
          content: "";
          background: #0068B1;
          width: 12px;
          height: 12px;

          flex: none;
          border-radius: 50%;
        }
      }
    }
  }
  div {

  }
}

.search-objects__btn {
  height: 46px;
  span {
    display: inline-block;
    margin-left: 4px;
  }
}

.search-objects__btn-w {
  margin-top: 11px;
  display: flex;  
  justify-content: flex-end;
}

.search-actions {
  display: flex;  
  flex-wrap: wrap;
  margin-top: 36px;
}

.search-actions__lbls {
  display: flex;
}

.search-actions__lbl {
  display: flex;  
  align-items: center;
  &:not(:last-child) {
    margin-right: 27px;
  }
  input[type="checkbox"] {
    display: none;
    + div {
      display: flex;      
      align-items: center;
      &:after {        
        flex: none;
        margin-left: 6px;
        content: "";
        display: block;
        background: url("../img/search-actions-checkbox.svg") $nr 0 0 ;
        width: 14px;
        height: 9px;
      }
    }
    &:checked {
      + div {
        color: #0068B1;
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + div {
        color: #0068B1;
      }
    }
  }
  div {
    font-weight: 400;
    font-size: 14px;
    color: #545863;
  }
}


.search-curr {
  display: flex;  
  margin-left: auto;
}
.search-curr__lbl {  
  &:not(:last-child) {
    margin-right: 8px;
  }
  input[type="radio"] {
    display: none;
    + span {
      padding: 0 10px;
      height: 32px;
      border: 1px solid #D0D3DC;
      border-radius: 5px;
      display: inline-flex;
      flex: none;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #A1A9B6;
      font-weight: 700;
    }
    &:checked {
      + span {
        background: linear-gradient(90deg, #0068B1 0%, #188FE4 100%);
        color: #FFFFFF;
        border: none;
      }
    }
  }
}




.search-objects__row {
  margin-top: 36px;
}

.search-objects__item {
  display: flex;  
  border: 1px solid rgb(232, 233, 237);
  box-shadow: rgba(85, 105, 135, 0.04) 0px 6px 10px -2px, rgba(85, 105, 135, 0.06) 0px 2px 4px -2px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 48px;
}


.search-objects__left {
  flex: 1 1 auto;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 3.99%, rgba(0, 0, 0, 0) 26.13%);
  }  
}

.search-objects__cap {
  display: inline-flex;
  background: rgb(227, 0, 76);
  border-radius: 15px 6px 6px 0px;
  height: 34px;
  padding-left: 24px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.search-objects__slider {
  .slick-arrow {
    position: absolute;
    background-color: #000;
    z-index: 5;
    top: 0;
  }
  

.slick-arrow {
  position: absolute;
  z-index: 12;  
  width: 48px;
  height: 48px;  
  border-radius: 50%;
  border: none;
  background: none;
  font-size: 0;
  background: rgba(#fff, 0.7) url("../img/slick-arrow.svg") $nr center;
  top: 50%;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  left: 24px;
}

.slick-next {
  right: 24px;
  transform: rotate(180deg);
}


  .slick-dots {
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 5;
    justify-content: center;
    li {
      font-size: 0;
      background: none;
      padding: 0;
      margin: 0 6px;
      button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        width: 86px;
        height: 4px;
        background: #FFFFFF;
        opacity: 0.5;
        border-radius: 20px;
      }
      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }

}//slider

.search-objects__slide,
.search-objects__slider {
 height: 576px $i;
}

.search-objects__slide {
  height: 100%;
}

.search-objects__slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__info {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.slider__info-img {
}

.slider__info-count {
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.search-objects__right {
  width: 512px;
  flex: 0 0 auto;
  padding-right: 19px;
  margin-left: 30px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.search-objects__right-inner {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-objects__info {
  display: flex;
  margin-bottom: 24px;
}

.search-objects__info-item {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
  margin-right: 48px;
}

.search-objects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  margin-bottom: 24px;
}

.search-objects__loc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.search-objects__loc-img {
  margin-right: 12px;
  flex: 0 0 auto;
}

.search-objects__loc-text {
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.soptions {
  margin-bottom: 24px;
}

.soptions__item {
  display: inline-flex;
  align-items: center;
  margin-right: 32px;
}

.soptions__img-w {
  flex: 0 0 auto;
  margin-right: 5px;
}

.soptions__text {
  font-weight: 600;
  font-size: 14px;
  color: #545863;
}

.object-tags {
  display: flex;
  flex-wrap: wrap;
}

.object-tags__item {
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(84, 88, 99);
  background: rgb(243, 244, 246);
  border-radius: 46px;
  padding-left: 12px;
  padding-right: 12px;
  height: 22px;
  margin-right: 8px;
  margin-bottom: 12px;
  display: inline-flex;
}

.search-objects__buttons {
  margin-top: auto;
}

.search-objects__btn-2 {
  height: 36px;
  font-size: 14px;
  padding: 0 16.5px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.btn-o {
    height: 34px;
  }
}

@import "_after-styless";