@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

.contain {
  max-width: 1504px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.lcpadding {
  padding-left: calc((100% - 1504px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1504px)/2);
  padding-right: calc((100% - 1504px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1504px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}


/*end modal*/


/*top menu mnu*/

.menu__list {
      > li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  li {
    position: relative;
  }
  a.parent {
    margin-right: 25px;
  }
}
.menu__list {
  display: flex;  
  
}
.menu__link {
  display: block;
  height: 20px;
}
.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;  
  display: none;
  li {
    padding: 10px;
  }
  > li {
    background-color: #000; 
  }
}

.sub-menu__link {
  color: #fff;
}
.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none;  
  > li {
    background-color: #ccc;
    
  }
}
.sub-sub-menu__link {}

.menu__arrow {}
.menu-arrow {
  display: none;
  width: 0;
  height: 0;  
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  &.active {
    transform: rotate(180deg);
  }
}

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu__list {
          display: block;
        }    
      }
    }
    .sub-menu__list {
      > li {      
        &:hover {
          .sub-sub-menu__list {
            display: block;
          }      
        }
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu__list.open {
      display: block;
    }
    .sub-sub-menu__list.open {
      display: block;
    }
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;  
}
.menu-arrow {
  top: 0px;
  right: 5px;
}
.sub-menu__list,
.sub-sub-menu__list {
  display: block;
  max-height: 0; 
  overflow: hidden; 
          transition: max-height 0.4s linear;          
  &.open {    
    max-height: 300px;
  }
  
}
}
/*end top menu mnu*/




.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FFFFFF;
}


.header__row {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  width: 286px;
  margin-right: 77px;
  flex: 0 0 auto;
}

.logo__img {
  max-width: 100%;
}

.logo__img-pda {
  display: none;
}

.header__mnu-w {
  flex: 1 1 auto;
}

.header__mnu {
  display: flex;
  align-items: center;
}

.header__mnu-li {
  margin-right: 32px;
}

.header__mnu-a {
  font-size: 16px;
  color: rgb(84, 88, 99);
  font-weight: 700;
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;  
          justify-content: flex-end;
}

.header__contacts {
  display: flex;
          align-items: flex-end;
          flex-direction: column;
}


.phone {
  font-weight: 600;
  font-size: 22px;
  color: rgb(84, 88, 99);
  padding-left: 31px;
  display: inline-block;
  background-image: url("../img/phone-i.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px;
  flex: 0 0 auto;
  margin-bottom: 9px;
  line-height: 17px;
}

.mail {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  color: rgb(227, 0, 76);
  padding-left: 33px;
  background-image: url("../img/mail-i.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 14px;
}

.btn {
  height: 48px;
  background: linear-gradient(90deg, rgb(0, 104, 177) 0%, rgb(24, 143, 228) 100%) rgb(255, 255, 255);  
  border-radius: 46px;
  box-shadow: rgba(85, 105, 135, 0.04) 0px 6px 10px -2px, rgba(85, 105, 135, 0.06) 0px 2px 4px -2px;
  padding-left: 24px;
  padding-right: 24px;
    display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 240, 247);
  font-size: 16px;
  font-weight: 600;
  &._red {
    background: linear-gradient(90deg, #E3004C 0%, #EA1159 100%);
    box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.06);
    color: #FBE6ED;
  }
  &:hover {
    text-decoration: none;
  }  
}



.btn__phone {
  margin-left: 32px;  
  flex: 0 0 auto;
  i {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background-image: url("../img/phone-btn-i.svg");
  background-repeat: no-repeat;
  background-position: center;
}
}



.banner {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 98px;
  padding-bottom: 93px;
  background-size: cover;
  position: relative;  
  overflow: hidden;
  .blur {
  background: rgba(255, 255, 255, 0.2);
  background: linear-gradient(0deg, rgba(0, 21, 35, 0.25), rgba(0, 21, 35, 0.25));
  backdrop-filter: blur(8px);
  width: calc(100% + 220px);
  height: calc(100% + 220px);
  transform: translate(-40px, -40px);
  position: absolute;
  top: 0;
  left: 0;
}  
}

img.banner__iphone-2 {
  display: none;
}

.banner__row {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.banner__l {
  width: 51%;  
          flex: none;
  padding-right: 0px;
}

.banner__tit {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.banner__subtit {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(243, 244, 246);
  margin-bottom: 22px;
  max-width: 610px;
}

.banner__actions {
  margin-bottom: 24px;
}

.banner__btn {  
  border-radius: 56px;
  height: 60px;
  padding-left: 32px;
  padding-right: 32px;  
  font-weight: 700;
  font-size: 18px;   
  &._red {
    margin-left: 24px;
  } 
}



.banner__tags {
  display: flex;
}

.banner__tag {
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(227, 0, 76);
  background: rgb(248, 204, 219);
  border-radius: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0px 12px;
  margin-right: 12px;
  &:hover {
    text-decoration: none;
  }
  &._blue {  
  color: rgb(227, 0, 76);
  background: rgb(248, 204, 219);  
  background: #CCE1EF;
  color: #0068B1;
}
}



.banner__r {
  flex: 1 1 auto;
  position: relative;
  padding-right: 20px;
  img {
    max-width: 100%;
  }
}

.banner__img {
  position: absolute;
  top: -16px;
  left: 0px;
}


.section {
  padding: 77px 0 72px 0;
}


.help {
  padding-top: 78px;  
}

.heading-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(84, 88, 99);
  margin-bottom: 48px;
}

.help__row {
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.help__col {
  width: 33.333%;
  padding-left: 16px;
  padding-right: 16px;
}

.help__it {
}

.help__img-w {
  height: 180px;
  border-radius: 12px;
  display: block;
  margin-bottom: 12px;
  overflow: hidden;
}

.help__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.help__tit {
  margin-top: 0px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  margin-bottom: 12px;
}

.help__txt {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
}

.cities {
  padding-top: 72px;
  padding-bottom: 72px;
  background: #F3F4F6;
}

.cities-cat__row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  margin-top: 72px;
}

.cities-cat__col {
  padding-left: 10px;
  padding-right: 10px;
  width: calc(16.6667%);
}

.cities-cat__it {
  display: block;
}

.cities-cat__img-w {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 23px;
  height: 81px;
}

.cities-cat__txt {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: rgb(84, 88, 99);
  justify-content: center;
}

.cities-items {
  margin-top: 64px;
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
}

.cities-items__col {
  width: 50%;
  padding-left: 4px;
  padding-right: 4px;
}

.cities-items__it-big {
  height: 208px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: flex;  
  justify-content: flex-start;  
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #1C1D21 0%, rgba(28, 29, 33, 0) 100%);
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
  }  
}

.cities-items__it-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cities-items__content {
  position: absolute;
  padding-left: 32px;
  padding-top: 18px;
}

.cities-items__tit-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.cities-items__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 590px;
  li {
    width: 242px;
    margin-right: 0px;
    margin-bottom: 16px;    
    a {
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
}



.cities-items__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cities-items__it {
  width: calc(33.3333% - 4px);
  margin-bottom: 8px;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, #1C1D21 0%, rgba(28, 29, 33, 0) 100%);
  }  
}

.cities-items__tit {
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.show-objects {
  margin-top: 73px;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  align-items: center;
}

.show-objects-img-w {
  background-image: url("../img/show-objects-bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 228px;
  background-size: auto 100%;
  position: relative;
  width: 376px;
}

.show-objects-img {
  position: absolute;
  bottom: 0px;
  left: 56px;
}

.show-objects__col-1 {
  display: flex;  
          align-items: center;
          flex-grow: 1;
}

.show-objects__col-2 {
  max-width: 336px;
  margin-right: 32px;
  margin-left: 23px;
}

.show-objects__tit {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
  margin-bottom: 24px;
}

.show-objects__subtit {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
}

.show-objects__text {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
}

.show-objects__col-3 {
  width: 336px;
  margin-right: 32px;
}

.form {
  display: flex;
  padding-right: 24px;
}

.input-text {
  width: 100%;
  border: 1px solid rgb(208, 211, 220);
  box-sizing: border-box;
  box-shadow: rgba(42, 51, 66, 0.05) 0px 1px 2px;
  border-radius: 6px;
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;  
  margin-bottom: 20px;
  color: #545863;
  &::placeholder {
    color: #A1A9B6;
  }
}

.form__select555555555555 {
  width: 100%;
  border: 1px solid rgb(208, 211, 220);
  box-sizing: border-box;
  box-shadow: rgba(42, 51, 66, 0.05) 0px 1px 2px;
  border-radius: 6px;
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  color: rgb(161, 169, 182);
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.select2-container { 
  border: none; 
  width: 100% !important;
  max-width: 675px;
  .select2-selection--single {    
    border: none;
    width: 100% !important;
    display: flex; 
    padding-left: 14px;           
            align-items: center;    
    height: 44px;    
            justify-content: space-between;
    border: 1px solid #D0D3DC;
box-shadow: 0px 1px 2px rgba(42, 51, 66, 0.05);
border-radius: 6px;

    .select2-selection__arrow {

    }
    .select2-selection__rendered {
      
      color: #A1A9B6;
font-weight: 400;
font-size: 14px;
      padding-left: 0;      
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
    }
    .select2-selection__arrow {
      width: 12px;
      height: 7px;
      background: url("../img/arr-b.svg") $nr $rc;
      position: static;
      margin-left: 0px;
      margin-right: 14px;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .select2-search--dropdown {
    border: none;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;    
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  }
  .select2-results__option {
    border: none;    
    font-size: 15px;
    font-weight: 600;
  }
}  

//выпадающая часть
.select2-container--open .select2-dropdown--below {
  width: 100% !important;
    max-width: 336px !important;
}


.form__select-arrow {
  
}

.show-objects__col-4 {
  width: 336px;
}

.form__messengers {
  margin-bottom: 20px;
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
}

.form__messenger {
  padding-left: 4px;
  padding-right: 4px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  cursor: pointer; 
  input[type="radio"] {
    display: none;
    + .messenger__img-w {
      
    }
    &:checked {
     + .messenger__img-w {
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 12px;
  height: 12px;
  background: url("../img/mess-check.svg") center no-repeat rgb(227, 0, 76);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -5px;
      }
      &.green {
        background: #6FD454;
      }
      &.blue {
        background-color: #0088cc;
      }
      &.violet {
        background-color: #59267C;
      }
      + .messenger__text {
        font-weight: 600;
        font-size: 12px;
        color: #545863;
      }
    } 
  }
  }
}


img.messenger__wa {
  margin-left: 1px;
  margin-top: -1px;
}

img.messenger__tg {
 margin-left: -2px;
  margin-top: 1px; 
}

.messenger__img-w {
  background: rgb(161, 169, 182);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messenger__text {
  font-weight: 600;
  font-size: 12px;
  color: #A1A9B6;
}


.messenger__check {
  
}

.messenger__text-act {

}



.label {
  display: flex;  
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    + span {
  flex: 0 0 auto;
  border: 1.25px solid rgb(213, 218, 225);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1.25px 2.5px;
  border-radius: 5px;
  width: 20px;
  height: 20px; 
  position: relative;   
    }
    &:checked {
      + span {
        &:before {
          content: "";          
          flex: none;
          border-radius: 3px;
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #188FE4;
        }
      }
    }
  }  
  div {
    font-size: 14px;
    line-height: 1.4;
    color: rgb(161, 169, 182);
    margin-left: 8px;
    display: inline-block;
  }
}



.label-span-txt {

}

.form__btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-top: 20px;
  background: linear-gradient(90deg, #0068B1 0%, #188FE4 100%);
  box-shadow: 0px 6px 10px -2px rgba(85, 105, 135, 0.04), 0px 2px 4px -2px rgba(85, 105, 135, 0.06);
  border-radius: 46px;
  font-weight: 600;
  font-size: 16px;
  color: #E6F0F7;
}

.reviews {  
  background: #F3F4F6;
  padding-top: 73px;
  padding-bottom: 73px;
}

.reviews__slider {
  .slick-slide {
    opacity: 0;    
    transition: 0.5s;
    &.slick-active {
      opacity: 1;
    }
  }
  .slick-arrow {
    background: none;
  background-image: url("../img/slick-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(208, 211, 220);
  box-sizing: border-box;
  border-radius: 46px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  overflow: auto;
  top: calc(50% - 25px);
  position: absolute;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  left: -80px;  
  
}

.slick-next {
  right: -80px;
  transform: rotate(180deg);
}
}

.reviews__slide {
}

.reviews__top {
  display: flex;  
}

.reviews__img-w {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;
  margin-right: 24px;
}

.reviews__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__header {
  flex: 1 1 auto;
  margin-top: 14px;
}

.reviews__name {
  font-weight: 600;
  font-size: 24px;
  color: rgb(84, 88, 99);
  margin-bottom: 21px;
}

.reviews__pos {
  font-weight: 600;
  font-size: 18px;
  color: rgb(138, 146, 164);
  margin-bottom: 19px;
}

.stars {
  display: flex;
}

.star {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.star-o {  
  background-image: url("../img/star-o.svg");  
}


.reviews__text {
  margin-top: 24px;
  padding-left: 0px;
  margin-left: 152px;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(84, 88, 99);
  flex: 1 1 auto;  
  position: relative;
  max-width: 1252px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -51px;    
    width: 26px;
    height: 15px;
    background-image: url("../img/bloquote1.svg");
  background-repeat: no-repeat;
  background-position: left top;
  }    
  &:after {
    transform: rotate(180deg);
    content: "";
    display: block;
    position: absolute;    
    bottom: 0px;    
    right: 0px;    
    width: 26px;
    height: 15px;
    background-image: url("../img/bloquote1.svg");
    background-repeat: no-repeat;
    background-position: left top;
  } 
}




.actual {
  border-top: 1px solid #E8E9ED;
}

.actual__w {
}

.actual__content {
  margin-top: 48px;
}

.actual__row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.actual__heading {
  margin-top: 0;
}

.actual__item {
  width: calc(50% - 16px);
  &:hover {
    text-decoration: none;
  }
  &--small {
    width: calc(33.333% - 21.3px);
    .actual__img-w {
      height: 240px;
      margin-bottom: 17px;
    }
      .actual__chars-item {
    width: 100%;
    padding-right: 0;
  }
  }
}

.actual__img-w {
  border-radius: 22px;
  overflow: hidden;
  margin-bottom: 14px;
  height: 320px;
  position: relative;
}

.actual__labels {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;  
          flex-direction: column;
}

.actual__label {  
  height: 22px;
  display: inline-flex;
  background: #F8CCDB;  
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #E3004C;
  padding: 0 12px;
  margin-bottom: 12px;
&.blue {
background: #CCE1EF;
color: #0068B1;
}  
}


.actual__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.actual__info {
}

.actual__sell {
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actual__sell-txt {
  font-weight: 700;
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.actual__num {
  font-size: 14px;
  text-align: right;
  color: rgb(84, 88, 99);
}

.actual__name {
  font-weight: 700;
  font-size: 18px;
  color: rgb(84, 88, 99);
  margin-bottom: 16px;
}

.actual__chars {
  display: flex;
  flex-wrap: wrap;
}

.actual__chars-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 50%;
  padding-right: 20px;
}

.actual__chars-img-w {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  flex: 0 0 auto;
}

.actual__chars-text {
  font-size: 14px;
  color: rgb(84, 88, 99);
}

.actual__price {
  font-weight: 700;
  font-size: 24px;
  color: #545863;
  margin-top: 5px;
}

.actual__row-2 {
  display: flex;
  justify-content: space-between;
}

.actual__btn-w {
  margin-top: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actual__btn {
  
}

.btn-o {
  display: inline-flex;  
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 48px;  
  border-radius: 46px;
  font-weight: 600;
  font-size: 16px;
  color: #0068B1;
  position: relative;
  background-color: #FFF;  
          transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: #FFF;
  }
&:before {
  border-radius: 46px;
  overflow: hidden;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  background: linear-gradient(90deg, #0068B1 0%, #188FE4 100%);

}  
}


.services {
  padding: 72px 0 72px 0;
}


.ser-w {

}

.services__tabs-ul {  
  margin-bottom: 48px;
  display: inline-flex;
  border-radius: 24px;
  overflow: hidden;
}

.tabs__content-list-item {
  display: none;
  &.active {
    display: block;
  }
}

.services__tabs-li {  
   font-weight: 600;
  font-size: 16px;
  color: #0068B1;
  background: #E6F0F7;  
          justify-content: center;
          align-items: center;
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;  
  height: 48px;
  cursor: pointer;
  &.active {
  background: linear-gradient(90deg, rgb(0, 104, 177) 0%, rgb(24, 143, 228) 100%);  
  
  color: #FFF;
}
&:not(:last-child) {
  margin-right: 2px;
}
}

.services__tabs-content {
}

.services__tabs-content-item {
  
}

.services__tabs-l {  
  border: 1px solid rgb(232, 233, 237);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 45px 24px 24px 24px;
  display: flex;  
  margin-right: 8px;
  height: 100%;     
  margin-bottom: 8px;     
  &:hover {
    text-decoration: none;
  }
}


.services__content-row {
  display: flex;  
  align-items: stretch;  
  width: 100%;
}
.services__content-col {
  display: flex;  
  flex-grow: 1;
  flex-direction: column;
  width: 50%;
}

.services__content-left {
  
}

.services__content-right {


}


.services__tabs-l--noborder {
  border: none;
  display: block;
  padding: 0;
  padding-top: 0 !important;
}


.services__tabs-img-w {
  width: 64px;
  height: 64px;
  margin-right: 24px;
  display: flex;  
  align-items: center;
  justify-content: center;  
          flex: none;
}



.services__tabs-text {
}

.services__tabs-title {
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
  margin-bottom: 17px;
}

.services__tabs-strong {
  font-weight: 700;
  line-height: 1.3;
}

.services__tabs-list {
  li {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: #545863;
&:not(:last-child) {
  margin-bottom: 16px;
}
  }
}

.services__tabs-r {
  height: 100%;
}

.services__tabs-link {
  border: 1px solid rgb(232, 233, 237);
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;   
    margin-bottom: 8px;
  &:hover {
    text-decoration: none;
  }
  
}

.services__tabs-link-img-w {
  width: 29px;
  height: 29px;
  display: flex;
  margin-right: 12px;
  
}

.services__tabs-link-text {
  font-weight: 600;
  font-size: 16px;
  color: #545863;
}


.services__tabs-l--noborder {
}

.services__tabs-link-2 {
  border: 1px solid rgb(232, 233, 237);
  border-radius: 6px;
  display: flex;
  padding: 34px 24px;
  margin-bottom: 8px;
  &:hover {
    text-decoration: none;
  }
}

.services__tabs-img-w2 {
  width: 59px;
  height: 59px;
  flex: 0 0 auto;
  margin-right: 26px;
}

.services__tabs-title-2 {
  flex: 1 1 auto;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
}


.services__tabs-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.services__tabs-link-33 {
  border: 1px solid rgb(232, 233, 237);
  border-radius: 6px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 272px;
  padding-left: 30px;
  padding-right: 30px;
  width: calc(33.3333% - 5px);
  &:hover {
    text-decoration: none;
  }
}

.services__tabs-img-w3 {
  width: 59px;
  height: 59px;
  flex: 0 0 auto;
  margin-bottom: 29px;
}

.services__tabs-title-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: rgb(84, 88, 99);
}






.pluses {
  background: rgb(243, 244, 246);  
  padding-top: 72px;
  padding-bottom: 72px;
}

.pluses__row {
  display: flex;
  justify-content: space-between;
}

.pluses__row-2 {
  margin-bottom: 46px;
}

.pluses__row-1 {
  margin-bottom: 32px;
}

.pluses__col {
  width: calc(50% - 16px);
}

.pluses__col-33 {
  width: calc(33.333% - 21.3px);
  }


.pluses__item {
  width: 100%;
}

.pluses__img-w {
  display: flex;
  position: relative;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 8px;
}

.pluses__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pluses__icon-w {
  position: absolute;
  bottom: 0px;
}

.pluses__icon {
}

.pluses__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  &:hover {
    text-decoration: none;
  }
}

.pluses__item--big {
  display: flex;
  margin-bottom: 32px;  
  align-items: stretch;
}

.pluses__img-w-1 {
  width: 992px;  
          flex: none;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 296px;
          border-radius: 6px;
}

.pl-it-1-r {
  padding-left: 32px;
  
}

.pl-it-1-r__inn {
  display: flex;
  height: 100%;
          flex-grow: 1;
          flex-direction: column;
}

.pluses__title--big {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: rgb(84, 88, 99);
  margin-bottom: 16px;
}

.pluses__text {
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);  
}

.pluses__brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.pluses__brand {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  height: 60px;
  width: calc(20% - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.plusform__form {
  display: flex;  
  
          align-items: stretch;
}

.plusform__title {
  display: none;
}

.plusform__row {
  background-color: #FFF; 
  display: flex;
            align-items: center;  
}
.plusform__row-inn { 
  width: 100%;          
  display: flex;    
      
  padding: 0 32px;
}

.plusform__select-subject-w {
  display: none;
}

.plusform__tabs-control {
  width: 352px;
}

.plusform__col-1 {
  width: 341px;
  margin-right: 32px;  
}
.plusform__col-2 {
  width: 341px;  
  margin-right: 32px;
}
.plusform__col-3 {
  margin-left: auto;
  width: 341px;
}

.form__area {
  width: 100%;
  height: 100%;
  border: 1px solid #d0d3dc;        
    border-radius: 6px;    
    font-size: 14px;    
    margin-bottom: 20px;
    color: #545863;
    padding: 14px;
  &::placeholder {
    color: #A1A9B6;
  }
}

.plusform__tabs-control {
  label {
  display: block;  
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
    input[type="radio"] {
      display: none;
      + span {
        
          border-radius: 6px 0px 0px 6px;
          display: flex;
          font-weight: 700;
          font-size: 18px;
          color: rgb(84, 88, 99);
          height: 52px;
          align-items: center;
          padding-left: 32px;
          background: #F7F8FA;
        
      }
      &:checked {
        + span {
          background: rgb(255, 255, 255);          
        }
      }
    }
  }
}


.team {  
  padding-top: 73px;
  padding-bottom: 77px;
}

.team__ceo {
  margin-top: 48px;
  display: flex;
  margin-bottom: 48px;
  align-items: flex-start;
}

.team__img-w {
  border-radius: 12px;  
  width: 352px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  overflow: hidden;
  picture,
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.team__r {
  margin-left: 32px;
  margin-top: 3px;
}

.team__ceo-name {
  font-weight: 600;
  font-size: 24px;
  color: rgb(84, 88, 99);
  margin-bottom: 17px;
}

.team__ceo-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
  margin-bottom: 12px;
  max-width: 650px;
}

.team__ceo-info {
  display: flex;
  margin-bottom: 18px;
}

.team__ceo-param {
  &:not(:last-child) {
    margin-right: 95px;
  }
}

.team__ceo-num {
  background: linear-gradient(90deg, rgb(0, 104, 177) 0%, rgb(24, 143, 228) 100%);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}

.team__ceo-cap {
  font-size: 14px;
  color: rgb(138, 146, 164);
}

.team__btn-w {
}

.team__btn.btn {
}

.team__row {
  display: flex;
  justify-content: space-between;
}

.team__it {
  width: calc(25% - 24px);
  background: rgb(243, 244, 246);
  border-radius: 12px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  text-align: center;
  flex-direction: column;
  &:hover {
    text-decoration: none;
  }
}

.team__it-img-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;  
          flex: none;
}

.team__it-name {
  font-weight: 600;
  font-size: 18px;
  color: rgb(84, 88, 99);  
  margin-bottom: 23px;
}

.team__it-pos {
  font-size: 14px;
  color: rgb(138, 146, 164);
}



.cont {
  padding-top: 73px;
  background: rgb(243, 244, 246);  
}


.cont__row {
  display: flex;  
  justify-content: space-between;
}

.cont__l {  
  flex-grow: 1;
  display: flex;          
  flex-direction: column;
}

.cont-inf-w {
  margin-top: auto;
}

.cont__item {  
  &:not(:first-child) {
    margin-top: 48px;
  }
}

.cont__tag {
  background: rgb(204, 225, 239);
  border-radius: 46px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(0, 104, 177);
  padding-left: 12px;
  padding-right: 12px;
}

.cont__adress {
  margin-top: 11px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(84, 88, 99);
}

.cont__phone {
  font-weight: 600;
  font-size: 16px;
  margin-top: 17px;
  color: rgb(84, 88, 99);
  display: inline-flex;
  background-image: url("../img/call-cont.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 36px;
  line-height: 20px;
}

.cont__r {
  width: 990px;
  height: 336px;  
  flex: 0 0 auto;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 20px;
  position: relative;
}

.point {
  position: absolute;
  background: url("../img/point.svg") $nr center;
  width: 25px;
  height: 32px;
  display: block;  
  z-index: 50;
}

.point-1 {
  top: calc(50% + 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);  
}
.point-2 {
  top: calc(50% + 60px);
  right: calc(50% + 60px);
  transform: translate(-50%, -50%);  
}

.cont-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  background: rgb(84, 88, 99);
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: inline-flex;
}

.footer__copy {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #BABEC9;
}

.cont__heading {
  padding-top: 0;
  margin-bottom: 0;
}


.crds {
  padding-top: 105px;
  padding-bottom: 79px;
}


.crds__w {
  display: flex;
  justify-content: space-between;
}

.crd {
  width: calc(33.3333% - 21.3px);
  padding: 52px 24px 24px 24px;
  background: rgb(243, 244, 246);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 336px;
}

.crd__inn {
 display: flex; 
          align-items: center; 
         flex-grow: 1;
          flex-direction: column; 
}

.crds__icon {
  background: rgb(227, 0, 76);
  border: 8px solid rgb(243, 244, 246);
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  margin-top: -92px;
  justify-content: center;
}

.crds__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: rgb(84, 88, 99);
  margin-top: 5px;
}

.crds__text {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: rgb(84, 88, 99);
  margin-top: 21px;  
  margin-bottom: 16px;
}



.crds__btn {
  margin-top: auto;
  filter: drop-shadow(rgba(105, 81, 255, 0.05) 0px 1px 2px);
  border-radius: 36px;
  height: 36px;
  display: inline-flex;
  font-weight: 600;
  font-size: 14px;
  color: rgb(227, 0, 76);
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;  
  border: 1px solid rgb(227, 0, 76);  
          transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: rgb(227, 0, 76);
    color: #fff;
  }
  span {
    display: inline-block;
    margin-left: 4px;
  }
}

@import "_media.scss";
@import "_after-styless";